In [1]:
# Run first cell

In [2]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Review of Tables ##

In [3]:
# Load nba table
nba = Table.read_table('nba_salaries.csv').relabeled(3, 'SALARY')
nba

PLAYER            | POSITION | TEAM | SALARY  | AGE
Danilo Gallinari  | PF       | ATL  | 19.5    | 32
Bogdan Bogdanovic | SG       | ATL  | 18      | 28
Clint Capela      | C        | ATL  | 16      | 26
Tony Snell        | SG       | ATL  | 12.1786 | 28
Louis Williams    | SG       | ATL  | 8       | 33
De'Andre Hunter   | SF       | ATL  | 7.422   | 22
Trae Young        | PG       | ATL  | 6.5718  | 22
Onyeka Okongwu    | PF       | ATL  | 5.81364 | 19
Kris Dunn         | PG       | ATL  | 4.767   | 26
Cam Reddish       | SF       | ATL  | 4.458   | 21
... (503 rows omitted)

In [4]:
# Makes a new table only with rows where the 'POSITION' is 'PG'
point_guards = nba.where('POSITION', 'PG')

In [5]:
point_guards

PLAYER            | POSITION | TEAM | SALARY   | AGE
Trae Young        | PG       | ATL  | 6.5718   | 22
Kris Dunn         | PG       | ATL  | 4.767    | 26
Brandon Goodwin   | PG       | ATL  | 1.70159  | 24
Kyrie Irving      | PG       | BKN  | 33.3291  | 28
Spencer Dinwiddie | PG       | BKN  | 11.454   | 27
Landry Shamet     | PG       | BKN  | 2.09004  | 23
Mike James        | PG       | BKN  | 0.09902  | 30
Mike James        | PG       | BKN  | 0.09902  | 30
Mike James        | PG       | BKN  | 0.039608 | 30
Kemba Walker      | PG       | BOS  | 34.3791  | 30
... (95 rows omitted)

In [6]:
# Remove the 'POSITION' column in the table
point_guards.drop('POSITION')

PLAYER            | TEAM | SALARY   | AGE
Trae Young        | ATL  | 6.5718   | 22
Kris Dunn         | ATL  | 4.767    | 26
Brandon Goodwin   | ATL  | 1.70159  | 24
Kyrie Irving      | BKN  | 33.3291  | 28
Spencer Dinwiddie | BKN  | 11.454   | 27
Landry Shamet     | BKN  | 2.09004  | 23
Mike James        | BKN  | 0.09902  | 30
Mike James        | BKN  | 0.09902  | 30
Mike James        | BKN  | 0.039608 | 30
Kemba Walker      | BOS  | 34.3791  | 30
... (95 rows omitted)

In [7]:
point_guards

PLAYER            | POSITION | TEAM | SALARY   | AGE
Trae Young        | PG       | ATL  | 6.5718   | 22
Kris Dunn         | PG       | ATL  | 4.767    | 26
Brandon Goodwin   | PG       | ATL  | 1.70159  | 24
Kyrie Irving      | PG       | BKN  | 33.3291  | 28
Spencer Dinwiddie | PG       | BKN  | 11.454   | 27
Landry Shamet     | PG       | BKN  | 2.09004  | 23
Mike James        | PG       | BKN  | 0.09902  | 30
Mike James        | PG       | BKN  | 0.09902  | 30
Mike James        | PG       | BKN  | 0.039608 | 30
Kemba Walker      | PG       | BOS  | 34.3791  | 30
... (95 rows omitted)

In [8]:
# Modify point_guards to remove the 'POSITION' column in the table
point_guards = point_guards.drop('POSITION')
point_guards

PLAYER            | TEAM | SALARY   | AGE
Trae Young        | ATL  | 6.5718   | 22
Kris Dunn         | ATL  | 4.767    | 26
Brandon Goodwin   | ATL  | 1.70159  | 24
Kyrie Irving      | BKN  | 33.3291  | 28
Spencer Dinwiddie | BKN  | 11.454   | 27
Landry Shamet     | BKN  | 2.09004  | 23
Mike James        | BKN  | 0.09902  | 30
Mike James        | BKN  | 0.09902  | 30
Mike James        | BKN  | 0.039608 | 30
Kemba Walker      | BOS  | 34.3791  | 30
... (95 rows omitted)

In [9]:
# Sort 'SALARY' column of point_guards with the PG the largest salary at the top
point_guards.sort('SALARY', descending=True).show()

In [10]:
point_guards.sort('SALARY', descending=True).show(15)

In [11]:
# Questions?

In [12]:
# ERROR
# Does capitalization matter?
nba.where('position', 'PG')

ValueError: label "position" not in labels ('PLAYER', 'POSITION', 'TEAM', 'SALARY', 'AGE')

In [13]:
# ERROR
# What happens if you try to use a column that isn't in the table anymore?
nba.drop('POSITION').where('POSITION', 'PG')

ValueError: label "POSITION" not in labels ('PLAYER', 'TEAM', 'SALARY', 'AGE')

## Numbers ##

In [14]:
30

30

In [15]:
# int
10 * 3

30

In [16]:
# float
10 / 3

3.3333333333333335

In [17]:
10 / 2

5.0

In [18]:
# exponentiate
10 ** 3

1000

In [19]:
# square root
10 ** 0.5

3.1622776601683795

In [20]:
# Can we represent large integers?
1234567 ** 890

2805763342107369230793809808310885724030151698643898788380662816980113897853769505682553341995361840866283163839674938063847465098181599413516030923830315020297429114484842472806037601633183177392342419552281446098882333113360498936060689417981060580169581781517081000887466986920196787365735472976637384790660527656183529108057677628812897898917415727467403873251697100284318113613171090832770107627373429297578100452541331137972394395518879748252497629953169189742546688743838014842998797222488578482742255590278830326264415887042424349338336685586108014796843647297854686632059611017792593114133643766176826645471505135284339608286440790108605114687261446214106703238304626747430320283170505623593598192482183253323227473361217459497593514576103139354263910235117552944853835259328240635891089203247501395301794244132584186874755797831852390704417457044048557568618633160284149583340352686512009611975784239859264336878392387482791049156912854159715516214706166214466230037339823780492774337274675800289580696315819494418004733412855205155027918058344891850668473780787520539851110601937177777258527635476258052342827179765186381834973522303136829852834242679559888371990546547773735142872611383102742753311234958929602179017609453450788021576889968090558526946002867067155433937025164603278496325064732080655085967120552122358643425906339419468088785812576641170399781555198518542228755764090812514788163758877228031474626249982320173230513790766211051807071509018394299594496298553425032888639575233308427922962072691110016410832613254845558533479779137394546533348267260208654147664661662489837722166465535984470300130195361526724657999247737664119545166367970118960539653700728246780841243422865927822029745430687779341494835511048331091708435435810632677284968867671217350609932555531424276428454845446681148799804144451127195396670373733155503688440766376117308145231339204514518114182442669726926958460263504747823171357759585770665369994677944653246927717262087721616975390825217507408220510861018634338133464060418295047933927635868626199925788463191380080935701443847346532746838349449833204183719520425273508461427363268810901816439207520602455792069406367821658839121277649227555623273564677301331404339603368354187279170542954088017099056552277230318062383216542056927422226999811205450549485589246237819874869638917303541644714356081602468616512144027808621669917967523298847733280998188849126660410144516840751121177122218727312917235905337333060556516611924333661893530040067042505379294125436401184352256775565463142705637306783871882313794728831427529583150846149427004802322087788357968992264438692993009809883875465518646172470495839410492599060455716367637440364630131471750106709132465895371670412945256073822697903510522211765697295922053593229276419226531331408317896936830655815873666355197305378708964668209899291344705444276333578719323904170952074328643811404544256843025709425474387814973960542018630128201161272329024792011740745530212579878161378961127918038096648026162029808878747866210894432543002029434565613132355043777385763831238060952363449797871761622541777453653784081456719940419766751192867804269268505636574832199689538986715250742630200523490339094085425178568698903268320220973567490288420919261018482168538171910000711992076873681129307598675285503345960161016391830728260326693428202177160119543736800344297771481079627076988031975978575895647654221558620092991884687091862613605722144271490738163190650508558761186844994717152403269557878581184075275936408939256017646715559306260196259010170427037361073267573147026510628695621128132172515464076418742940103113964611681699407950967774413428184355249041334714765827480675899800235537773385443229622067233523354213261412403375030932576886654499317808172035910623439488923497729990034132955991616175315301110003136655552464696428279778365477406164307525011119783055047664864798818426307604172381073695798688377889193415423645042188927398145864445871680431617772823584658707705057426132797633601281478887542871708884776132993498113629791075212269131263135104211901928478309667400642477145201362433365658578707267018122388906853103264797837550314906826327964589811537800151348078278689526492266541600168152334174087551992509222975658050902151573849522445074588731109036554789680280345720046009120507928152632018078697710120218368147570599141031673300682348326156497244011574817802187099834880327346210624556369660018678859929271654108596951193479453034452114779847850504280525490303492730731848704497321639579545359051407002629069912400518470707512308477494989006390249351273561453957767103749105099486859441823499120103359974562095361878219993785312682108204349115081403854873968693651144816992008787094413654541840750267945428940655147102103776877924495354589674471203663800973702240269677784610346010441824261817763592599870546594987128802020889878623694800247575251661439276157008847529529237192162577463356503617323132760079688627706444510425779441871297035026396768851129501722454220316418777074912838238391162658683371634959415544181384058154251960767217101632139258312150904777623156788937309713540569306765232165671618935868039816292110221657560493742908804867952618200515005539316960724088551539133626302522557345413249384658492371698805093289004717340532810196692880918816862832405941920828302568461913904088702147654713878056218117011839094769918168741678648022940613796829566893389100562532347981860917540264049

In [21]:
# What about floats?
10 / 3

3.3333333333333335

In [22]:
75892745.215489247589274985712

75892745.21548925

In [23]:
75892745.215489247589274985712 - 75892745.21548925

0.0

In [24]:
# Questions?

In [25]:
# May lose some precision
(13 ** 0.5) ** 2

12.999999999999998

In [26]:
# Convert between float and int
int(10 / 5)

2

In [27]:
int(10 / 4)

2

In [28]:
float(3)

3.0

In [29]:
6 / 4

1.5

In [30]:
6 / 4000

0.0015

In [31]:
6 / 400000000000000000000000000000000000000000000000000000000

1.5e-56

In [32]:
400000000000000000000000000000000000000000000000000000000 * 1.5e-56

6.0

In [33]:
1.5e-56

1.5e-56

In [34]:
x = 5

In [35]:
2x

SyntaxError: invalid syntax (207285602.py, line 1)

In [36]:
2 * x

10

## Strings ##

In [37]:
'Flavor'

'Flavor'

In [38]:
Flavor

NameError: name 'Flavor' is not defined

In [39]:
"Flavor"

'Flavor'

In [40]:
'Don't always use single quotes'

SyntaxError: invalid syntax (2648065634.py, line 1)

In [41]:
"Don't always use single quotes"

"Don't always use single quotes"

In [42]:
# Concatenation
'straw' + 'berry'

'strawberry'

In [43]:
# Spaces aren't added for you
'Chris' + 'Paul'

'ChrisPaul'

In [44]:
'Chris' + ' ' + 'Paul'

'Chris Paul'

In [45]:
'ha' * 100

'hahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahaha'

In [46]:
'lo' * 5.5

TypeError: can't multiply sequence by non-int of type 'float'

In [47]:
'ha' + 10

TypeError: can only concatenate str (not "int") to str

In [48]:
'data' + 8

TypeError: can only concatenate str (not "int") to str

In [49]:
'data' + '8'

'data8'

In [50]:
'data' + str(8)

'data8'

In [51]:
# Convert string to int
int('3')

3

In [52]:
# Convert string to float
float('3.0')

3.0

In [53]:
# Questions?

## Types ##

In [54]:
type(10)

int

In [55]:
a = 10

In [56]:
type(a)

int

In [57]:
type(4.5)

float

In [58]:
type('abc')

str

In [59]:
type(nba)

datascience.tables.Table

In [60]:
type(True)

bool

In [61]:
abs(-5)

5

In [62]:
type(abs)

builtin_function_or_method

## Arrays ##

In [63]:
my_array = make_array(1, 2, 3, 4)

In [64]:
my_array

array([1, 2, 3, 4])

In [65]:
my_array * 2

array([2, 4, 6, 8])

In [66]:
my_array ** 2

array([ 1,  4,  9, 16])

In [67]:
my_array + 1

array([2, 3, 4, 5])

In [68]:
my_array # array is unchanged, just like when we call show/select/drop on Table

array([1, 2, 3, 4])

In [69]:
another = make_array(5, 6, 7, 8)

In [70]:
# add together 2 arrays
my_array + another

array([ 6,  8, 10, 12])

In [71]:
yet_another = make_array(5, 6, 7)

In [72]:
my_array + yet_another

ValueError: operands could not be broadcast together with shapes (4,) (3,)

In [73]:
str_array = make_array('ha', 'he', 'ho')

In [74]:
str_array

array(['ha', 'he', 'ho'], dtype='<U2')

In [75]:
str_array * 4

UFuncTypeError: ufunc 'multiply' did not contain a loop with signature matching types (dtype('<U2'), dtype('int64')) -> None

In [76]:
yet_another

array([5, 6, 7])

In [77]:
yet_another.item(0)

5

In [78]:
yet_another.item(1)

6

In [79]:
sum(my_array)

10

In [80]:
np.average(my_array)

2.5

In [81]:
len(my_array)

4

## Columns of Tables are Arrays ##

In [82]:
warriors = nba.where('TEAM', 'GSW')
warriors

PLAYER              | POSITION | TEAM | SALARY  | AGE
Stephen Curry       | PG       | GSW  | 43.0064 | 32
Klay Thompson       | SG       | GSW  | 35.3614 | 30
Andrew Wiggins      | SF       | GSW  | 29.542  | 25
Draymond Green      | PF       | GSW  | 22.247  | 30
Jr. Kelly Oubre Jr. | SF       | GSW  | 14.375  | 24
James Wiseman       | C        | GSW  | 8.73024 | 19
Kevon Looney        | PF       | GSW  | 4.82143 | 24
Kent Bazemore       | SG       | GSW  | 2.32004 | 31
Jordan Poole        | SG       | GSW  | 2.06328 | 21
Damion Lee          | SG       | GSW  | 1.7628  | 27
... (7 rows omitted)

In [83]:
warriors.select('SALARY')

SALARY
43.0064
35.3614
29.542
22.247
14.375
8.73024
4.82143
2.32004
2.06328
1.7628
... (7 rows omitted)

In [84]:
type(warriors.select('SALARY'))

datascience.tables.Table

In [85]:
warriors.column('SALARY')

array([4.3006362e+01, 3.5361360e+01, 2.9542010e+01, 2.2246956e+01,
       1.4375000e+01, 8.7302400e+00, 4.8214290e+00, 2.3200440e+00,
       2.0632800e+00, 1.7627960e+00, 1.5179810e+00, 1.5179810e+00,
       1.5179810e+00, 3.5829500e-01, 1.1898300e-01, 1.1898300e-01,
       1.1898000e-02])

In [86]:
np.average(warriors.column('SALARY'))

9.964210529411766

In [87]:
raptors = nba.where('TEAM', 'TOR')
raptors

PLAYER          | POSITION | TEAM | SALARY  | AGE
Pascal Siakam   | PF       | TOR  | 30.5592 | 26
Kyle Lowry      | PG       | TOR  | 30      | 34
Fred VanVleet   | PG       | TOR  | 21.25   | 26
Rodney Hood     | SF       | TOR  | 10.0474 | 27
Aron Baynes     | C        | TOR  | 7       | 33
Chris Boucher   | PF       | TOR  | 6.5     | 27
OG Anunoby      | SF       | TOR  | 3.87222 | 23
Stanley Johnson | SF       | TOR  | 3.80415 | 24
Malachi Flynn   | PG       | TOR  | 1.9506  | 22
DeAndre' Bembry | SF       | TOR  | 1.73714 | 26
... (9 rows omitted)

In [88]:
np.average(warriors.column('SALARY')) - np.average(raptors.column('SALARY'))

3.5939138978328193